<div class="container-fluid m-5 justify-content-center">
  <select class="form-select" aria-label="Default select example" style="width: 40%;" onChange="window.location.href=this.value" select="selected">
    <option {{nothingSelected}} value="/">類別-全部</option>
    <option {{householdSelected}} value="sort_household">家居物業</option>
    <option {{trafficSelected}} value="sort_traffic">交通出行</option>
    <option {{entertainmentSelected}} value="sort_entertainment">休閒娛樂</option>
    <option {{foodSelected}} value="sort_food">餐飲食品</option>
    <option {{othersSelected}} value="sort_others">其他</option>
  </select>
</div>
{{ alert }}
<div class="container">
  <ul class="list-group list-group-flush ">
  {{#each records}}
    <li class="list-group-item">
      <div class="row">
        <div class="col mx-auto">
          <h4 class="col"><i class="{{this.icon}} m-2"></i>{{ this.name }}</h4>
          </a>
        </div>
        <div class="col mx-auto">
          
          <h4 class="col">{{ this.amount }}</h4>
          </a>
        </div>
        <div class="col mx-auto">
          <a class="btn btn-success mx-1" href="./records/{{this._id}}/edit">edit</a>
          <form action="/records/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
            <button class="btn btn-success mx-1" >delete</button>
          </form>
          
        </div>
      </div>
    </li>
  {{/each}}
  </ul>
  <a class="btn btn-primary" href="./records/new">新增</a>
</div>


