<div class="container-fluid mt-5 " style="width: 50%; margin: 0 auto;">
  <select class="form-select mb-5" aria-label="Default select example" style="width: 40%; margin: 0 auto;" onChange="window.location.href=this.value" select="selected">
    <option {{nothingSelected}} value="/">類別-全部</option>
    <option {{householdSelected}} value="/sort?sort=household">家居物業</option>
    <option {{trafficSelected}} value="/sort?sort=traffic">交通出行</option>
    <option {{entertainmentSelected}} value="/sort?sort=entertainment">休閒娛樂</option>
    <option {{foodSelected}} value="/sort?sort=food">餐飲食品</option>
    <option {{othersSelected}} value="/sort?sort=others">其他</option>
  </select>
</div>
{{ alert }}
<div class="container mx-auto text-center mt-5 mb-5" style="width: 40%;">
  <h3 >總金額</h3><strong><h1 class="fw-bold  text-danger">{{totalAmount}}</h1></strong>
  

</div>
{{alert}}
<div class="container " style="width: 70%;">
  <ul class="list-group list-group-flush ">
  {{#each records}}
    <li class="list-group-item">
      <div class="row">
        <div class="col mx-auto">
          <h4 class="col"><i id="icon" class="{{this.icon}} m-2"></i>{{ this.name }}</h4>
          </a>
        </div>
        <div class="col mx-auto">
          
          <h4 class="col">{{ this.amount }}</h4>
          </a>
        </div>
        <div class="col mx-auto">
          <a class="btn btn-success mx-1" href="./records/{{this._id}}/edit">edit</a>
          <form action="/records/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
            <button class="btn btn-warning mx-1" >delete</button>
          </form>
          
        </div>
      </div>
    </li>
  {{/each}}
  </ul>
  <div class="p-5" style="margin: 0 auto;">
    <a class="btn btn-primary mt-5 " href="./records/new" style="margin-left: 15%;  width: 70%;" >新增</a>
  </div>
  
</div>


